#image {
  width: 200px;
  height: 200px;
  background-image: url("berlin.jpg");
  background-size: cover;
  position: absolute;
  border-radius: 5px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: orange;
}
